# Port configuration
PORT=5001

# PostgreSQL Database Connection String
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/quadrus?schema=public"

# Secret token for JWT signatures (if applicable)
JWT_SECRET="your-jwt-secret-key"

# Client URL (for CORS allowance)
CLIENT_URL="http://localhost:5173"

# Node Environment
NODE_ENV=development
